# Node
node_modules
npm-debug.log

# Angular Files
/dist
/environments
/*.*

# Editor directories and files
.idea
*.sublime-workspace
*.sublime-project
.vscode

# Operating System Files
.DS_Store
Thumbs.db

# Other
.git
.gitignore
README.md
Dockerfile
*.md
LICENSE
